@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
body {
  background-color: #f0f0f0 !important;
  transition: all 0.3s ease-in-out;
}
body a {
  text-decoration: none;
  color: inherit;
}
body a:hover {
  color: #0090dd;
}

.time,
.date,
.formateddate {
  font-family: "Orbitron", sans-serif !important;
}

.main {
  background-color: #f0f0f0;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main .flip {
  transition: all 0.5s ease-in-out;
}
.main .flip:hover {
  transform: rotateX(180deg) !important;
}
.main .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.main .menu {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.main .menu:hover {
  color: #0090dd;
  transform: scale(1.01);
}
.main .active {
  background-color: #f0f0f0 !important;
  color: #3a3939;
  border: #f0f0f0 !important;
}
.main #menu {
  overflow: hidden;
  margin: 0;
  background-color: #0090dd;
  background-color: #3a3939;
  color: white;
  height: 100vh;
  width: 50vw;
  height: 94vh;
  min-width: 150px;
}
.main #menu .navbar-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.main #menu .navbar-container .nav-links {
  width: 100%;
}
.main #menu .navbar-container .nav-links ul {
  width: 100%;
  padding: 0;
}
.main #menu .navbar-container .nav-links ul li {
  width: 100%;
  padding: 0 1rem;
  font-size: 12px;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: start;
  list-style-type: none;
  border-bottom: 1px solid rgb(82, 82, 82);
  border-top: 1px solid rgb(82, 82, 82);
}
.main #menu .navbar-container .nav-links ul li a {
  text-decoration: none;
  color: white;
}
.main #menu .navbar-container .nav-links ul li img {
  width: 20px;
  height: 20px;
}
.main #menu .navbar-container .nav-links ul li i {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .main #menu {
    width: 20%;
  }
}
.main .body-container {
  background: #0090dd;
  position: relative;
}
.main .body-container .top-bar {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .body-container .top-bar .menu-icon img {
  width: 20px;
  margin: 0.5rem;
}
.main .body-container .top-bar .logo img {
  width: 80px;
}
.main .body-container .top-bar .setting img {
  width: 20px;
  margin: 0.5rem;
}
.main .container {
  display: flex;
  flex-direction: column;
}
.main .container .timer {
  width: 100vw;
  max-width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .container .timer .time {
  font-size: 3rem;
  font-weight: 800;
}
.main .container .timer .date,
.main .container .timer .formateddate {
  font-size: 1.2rem;
}
.main .container .add-btn {
  margin: 2rem 0;
}
.main .container h1 {
  text-align: center;
}
.main .container .clock-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}
.main .container .clock-card {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}
.main .container .country-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main .container .current-time {
  font-size: 24px;
}

@media (max-width: 490px) {
  .timer .time {
    font-size: 1.2rem !important;
  }
}/*# sourceMappingURL=main.css.map */