@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@font-face {
  font-family: "digital-clock-font";
  src: url(".././font/digital-7 (mono).ttf");
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.background-primary {
  background-color: #0090dd !important;
}

.color-primary {
  color: #0090dd !important;
}

.color-red {
  color: rgba(216, 26, 26, 0.7) !important;
}

body {
  background-color: #f0f0f0;
  transition: all 0.3s ease-in-out;
}
body a {
  text-decoration: none;
  color: inherit;
}
body a:hover {
  color: #0090dd;
}

#fullscreenButton {
  background-color: transparent;
  border: 0;
}

.theme-icon:hover {
  cursor: pointer !important;
}

.laps {
  background-color: rgba(58, 57, 57, 0.2) !important;
  color: #757575 !important;
}

.dark-mode {
  background: rgb(36, 36, 36) !important;
  color: rgb(255, 255, 255) !important;
}
.dark-mode .main .timer .time {
  color: #00d300;
}
.dark-mode .main .timer .date,
.dark-mode .main .timer .formateddate {
  color: #00d300;
}

.lighty-mode {
  background-color: #f0f0f0 !important;
  color: #3a3939 !important;
}

.time,
.date,
.formateddate {
  font-family: "digital-clock-font";
}

.main {
  background-color: inherit;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main .custom-card {
  border: 0.1rem solid rgba(58, 57, 57, 0.4);
  border-radius: 0.5rem;
}
.main .d-flex {
  width: 100%;
}
.main .flip {
  transition: all 0.5s ease-in-out;
}
.main .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.main .menu {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.main .menu:hover {
  color: #0090dd;
  transform: scale(1.01);
}
.main .active {
  background: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
}
@media (min-width: 700px) {
  .main #hero {
    max-height: 100vh;
    overflow-y: hidden;
  }
}
.main .time-input {
  background-color: rgba(58, 57, 57, 0.4) !important;
  color: #f0f0f0 !important;
}
.main #search {
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(58, 57, 57, 0.2);
  color: #f0f0f0 !important;
}
.main .base-timer__path-remaining.green {
  color: #0090dd;
}
.main .base-timer__path-remaining.orange {
  color: rgba(255, 152, 0, 0.4);
}
.main .base-timer__path-remaining.red {
  color: rgba(255, 0, 0, 0.4);
}
.main select {
  color: #757575 !important;
}
.main select option {
  background-color: rgba(58, 57, 57, 0.2) !important;
}
.main .time-cell,
.main .type-cell {
  background-color: rgba(58, 57, 57, 0.2) !important;
  color: #f0f0f0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 0.3rem;
}
.main .time-cell option,
.main .type-cell option {
  background-color: rgba(58, 57, 57, 0.2) !important;
  color: #3a3939;
}
.main #menu-bar {
  position: fixed;
  z-index: 999;
  margin: 0;
  color: white;
  width: 70vw;
  height: 100%;
  background-color: inherit;
}
.main #menu-bar .navbar-container {
  box-shadow: 3px 0 20px rgba(0, 0, 0, 0.2);
  background-color: #3a3838;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main #menu-bar .navbar-container .nav-links {
  width: 100%;
}
.main #menu-bar .navbar-container .nav-links ul {
  width: 100%;
  padding: 0;
}
.main #menu-bar .navbar-container .nav-links ul li {
  width: 100%;
  padding: 0 1rem;
  font-size: 20px;
  height: 10vh;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: start;
  list-style-type: none;
}
.main #menu-bar .navbar-container .nav-links ul li a {
  text-decoration: none;
  color: white;
}
.main #menu-bar .navbar-container .nav-links ul li img {
  width: 30px;
  height: 30px;
}
.main #menu {
  margin: 0;
  background-color: #0090dd;
  background-color: #3a3939;
  color: white;
  width: 50vw;
  height: 94vh;
  min-width: 150px;
}
.main #menu .navbar-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.main #menu .navbar-container .nav-links {
  width: 100%;
}
.main #menu .navbar-container .nav-links ul {
  width: 100%;
  padding: 0;
}
.main #menu .navbar-container .nav-links ul li {
  width: 100%;
  padding: 0 1rem;
  font-size: 16px;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: start;
  list-style-type: none;
}
.main #menu .navbar-container .nav-links ul li a {
  text-decoration: none;
  color: white;
}
.main #menu .navbar-container .nav-links ul li img {
  width: 25px;
  height: 25px;
}
.main #menu .navbar-container .nav-links ul li i {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .main #menu {
    width: 20%;
  }
}
.main .body-container {
  background: #0090dd;
  position: relative;
}
.main .body-container .top-bar {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .body-container .top-bar .menu-icon img {
  width: 20px;
  margin: 0.5rem;
}
.main .body-container .top-bar .logo img {
  width: 80px;
}
.main .body-container .top-bar .setting img {
  width: 20px;
  margin: 0.5rem;
}
.main .my-container {
  display: flex;
  flex-direction: column;
}
.main .my-container h1 {
  text-align: center;
}
.main .my-container .clock-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}
.main .my-container .clock-card {
  background-color: rgba(58, 57, 57, 0.2);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border: 1px solid #0090dd;
}
.main .my-container .clock-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px #0090dd;
}
.main .my-container .country-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main .my-container .current-time {
  font-size: 24px;
  font-family: "digital-clock-font";
  font-weight: 400;
}
.main .my-container .header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main .my-container .btn {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.main .my-container .btn:hover {
  background-color: skyblue;
}
.main .clock {
  max-height: 90vh;
  overflow-y: auto;
}
.main .timer {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .timer .time {
  color: #252525;
  font-size: 7rem;
  font-weight: 700;
}
.main .timer .date,
.main .timer .formateddate {
  color: #252525;
  font-size: 3rem;
}
.main .wrapper-container {
  margin: 0;
  display: flex;
  align-self: center;
  justify-content: center;
}
.main .inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .inputs input {
  background-color: rgba(58, 57, 57, 0.2) !important;
  font-weight: 600;
}
.main .inputs input::-moz-placeholder {
  color: #757575;
}
.main .inputs input::placeholder {
  color: #757575;
}
.main .btn-add-alarm {
  background-color: #0090dd;
  color: #f0f0f0;
}
.main .wrapper-container {
  margin: 0;
  display: flex;
  align-self: center;
  justify-content: center;
}
.main .btn-add-alarm {
  background-color: #0090dd;
  color: #f0f0f0;
}
.main #repeatCheckbox {
  cursor: pointer;
}
.main #set-alarm {
  width: 100%;
}
.main #set-alarm input {
  width: 9vw;
  height: 5vh;
  padding-left: 0.1rem;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(58, 57, 57, 0.2);
  color: #757575 !important;
  border-radius: 0.3rem;
}
.main #set-alarm input::-moz-placeholder {
  color: #757575;
  padding-left: 0.1rem;
}
.main #set-alarm input::placeholder {
  color: #757575;
  padding-left: 0.1rem;
}
.main #set-alarm .activeAlarms {
  max-height: 40vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main #set-alarm .activeAlarms .alarm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(58, 57, 57, 0.2);
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding: 1rem;
}
.main #set-alarm .activeAlarms .days {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  color: #757575;
}
.main #set-alarm .activeAlarms .alarm {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 1em;
  margin-top: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  align-items: center;
  padding: 1rem;
}
.main #set-alarm .activeAlarms .alarm input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 2em;
  width: 3.75em;
  background-color: #e2e2ec;
  border-radius: 1.25em;
  position: relative;
  cursor: pointer;
  outline: none;
}
.main #set-alarm .activeAlarms .alarm input[type=checkbox]:before {
  position: absolute;
  content: "";
  background-color: #757683;
  height: 1.43em;
  width: 1.43em;
  border-radius: 50%;
  top: 0.25em;
  left: 0.25em;
}
.main #set-alarm .activeAlarms .alarm input[type=checkbox]:checked {
  background-color: #d2e2ff;
}
.main #set-alarm .activeAlarms .alarm input[type=checkbox]:checked:before {
  background-color: #377dff;
  left: 2em;
}
.main #set-alarm .activeAlarms .deleteButton {
  background-color: inherit;
  font-size: 1.5em;
  color: #ff5c5c;
  border: none;
  cursor: pointer;
  padding: 0;
}
.main #set-alarm .activeAlarms span {
  color: inherit;
}
.main #set-alarm .activeAlarms button {
  background-color: red;
  color: white;
  border: none;
  margin-left: 1.2rem;
  border-radius: 0.3rem;
}
.main #set-alarm .activeAlarms input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-left: 1.2rem;
}

.repeat-div {
  background-color: #f0f0f0;
  box-shadow: 1px 1px 10px rgb(14, 13, 13);
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 1rem;
  transform: translate(-50%, -50%);
}
.repeat-div .days {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.repeat-div .days label {
  display: flex;
  justify-content: space-between;
}
.repeat-div .alarm input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 1.3rem;
  width: 2.5rem;
  background-color: #e2e2ec;
  border-radius: 1.25em;
  position: relative;
  cursor: pointer;
  outline: none;
}
.repeat-div .alarm input[type=checkbox]:before {
  position: absolute;
  content: "";
  background-color: #757683;
  height: 1.03em;
  width: 1.03em;
  border-radius: 50%;
  top: 0.15em;
  left: 0.15em;
}
.repeat-div .alarm input[type=checkbox]:checked {
  background-color: #d2e2ff;
}
.repeat-div .alarm input[type=checkbox]:checked:before {
  background-color: #377dff;
  left: 1.2em;
}

.alarmFullscreen {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}
.alarmFullscreen .time {
  font-size: 200px;
}

.fullscreenDesign {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullscreenDesign .country-name {
  color: red;
}

@media (max-width: 769px) {
  .digit {
    font-size: 4rem;
    font-weight: bold;
    font-family: "digital-clock-font";
  }
  .timer .time {
    font-size: 4rem !important;
  }
}/*# sourceMappingURL=main.css.map */