@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

@font-face {
  font-family: "digital-clock-font";
  src: url(".././font/digital-7\ \(mono\).ttf");
}

$secondaryColor: #3a3939;
$primaryColor: #0090dd;
$backgroundColor: #f0f0f0;
$placeholderColor:#757575;
.background-primary {
  background-color: $primaryColor !important;
}

.color-primary {
  color: $primaryColor !important;
}

.color-red {
  color: rgba(rgb(216, 26, 26), .7) !important;
}

// *{
//     border: 1px solid red;
// }

body {
  background-color: $backgroundColor;
  transition: all 0.3s ease-in-out;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $primaryColor;
    }
  }
}

.laps {
  background-color: rgba($secondaryColor, .2) !important;
  color: $placeholderColor !important;
}

.dark-mode {
  background: rgb(36, 36, 36) !important;
  color: rgb(255, 255, 255) !important;

}
.lighty-mode{
  background-color: $backgroundColor !important;
    color: $secondaryColor !important;
}

.time,
.date,
.formateddate {
  font-family: "digital-clock-font";
}

.main {
  background-color: inherit;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

  .custom-card {
    border: .1rem solid rgba($secondaryColor, .4);
    border-radius: .5rem;
  }

  .d-flex {
    width: 100%;
  }

  .flip {
    transition: all 0.5s ease-in-out;

    // &:hover {
    //     transform: rotateX(180deg) !important;
    // }
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .menu {
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: $primaryColor;
      transform: scale(1.01);
    }
  }

  .active {
    background: rgb(36, 36, 36);
    color: rgb(255, 255, 255) ;  
  }

  #hero {
    max-height: 100vh;
    overflow-y: auto;
  }

  .time-input {
    background-color: rgba($secondaryColor, .4) !important;
    color: $backgroundColor !important;
  }

  #search {
    border: none;
    outline: none;
    border-radius: .5rem;
    padding: .5rem;
    background-color: rgba($secondaryColor, .2);
    color: $backgroundColor !important;
  }
  .base-timer__path-remaining.green {
    color: rgba($primaryColor,1);
}

.base-timer__path-remaining.orange {
    color: rgba(#FF9800,.4);
}

.base-timer__path-remaining.red {
    color: rgba(red,.4)
}

  select {
    color: $placeholderColor !important;
    option {
      background-color: rgba($secondaryColor, .2) !important;      
    }
  }
  
  

  .time-cell,
  .type-cell{
    background-color: rgba($secondaryColor, .2) !important;      
    color: $backgroundColor;
    border: none;
    outline: none;
    border-radius: .3rem;
    option{
      background-color: rgba($secondaryColor, .2) !important;      
      color: $secondaryColor;
    }
  }
  #menu-bar {
    position: fixed;
    z-index: 999;
    margin: 0;
    color: white;
    width: 70vw;
    height: 100%;
    background-color: inherit;

    .navbar-container {
      box-shadow: 3px 0 20px rgba(0, 0, 0, 0.2);
      background-color: #3a3838;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .nav-links {
        width: 100%;

        ul {
          width: 100%;
          padding: 0;

          li {
            width: 100%;
            padding: 0 1rem;
            font-size: 20px;
            height: 10vh;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: start;
            list-style-type: none;

            a {
              text-decoration: none;
              color: white;
            }

            img {
              width: 30px;
              height: 30px;
            }

         
          }
        }
      }
    }

  }

  #menu {

    margin: 0;
    background-color: $primaryColor;
    background-color: $secondaryColor;
    color: white;
    width: calc(100vw - 50vw);
    height: calc(100vh - 6vh);
    min-width: 150px;

    .navbar-container {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      height: 100px;
      display: flex;
      flex-direction: column;

      .nav-links {
        width: 100%;

        ul {
          width: 100%;
          padding: 0;

          li {
            width: 100%;
            padding: 0 1rem;
            font-size: 16px;
            height: 50px;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: start;
            list-style-type: none;

            a {
              text-decoration: none;
              color: white;
            }

            img {
              width: 25px;
              height: 25px;
            }

            i {
              font-size: 12px;
            }
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      width: 20%;
    }
  }

  .body-container {
    background: $primaryColor;
    position: relative;

    .top-bar {
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu-icon {
        img {
          width: 20px;
          margin: 0.5rem;
        }
      }

      .logo {
        img {
          width: 80px;
        }
      }

      .setting {
        img {
          width: 20px;
          margin: 0.5rem;
        }
      }
    }
  }

  .my-container {
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
    }

    .clock-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 20px;
      margin-top: 20px;
    }

    .clock-card {
      background-color: rgba($secondaryColor, 0.2);
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      transition: all 0.3s ease-in-out;
      border: 1px solid $primaryColor;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 15px $primaryColor;
      }
    }

    .country-name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .current-time {
      font-size: 24px;
      font-family: "digital-clock-font";
      font-weight: 400;
    }

    .header {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .btn {
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }

   

    .btn:hover {
      background-color: skyblue;
    }
  }

  .clock {
    max-height: 90vh;
    overflow-y: auto;
    width: 100vw;
  }

  .timer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .time {
      font-size: 3.2rem;
      font-weight: 700;
    }

    .date,
    .formateddate {
      font-size: 1.5rem;
    }
  }

  .wrapper-container {
    margin: 0;
    display: flex;
    align-self: center;
    justify-content: center;

   
  }
  .inputs {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      background-color: rgba($secondaryColor, .2) !important;      
      font-weight: 600;
      &::placeholder{
        color:$placeholderColor;
      }
    }
  }

  .btn-add-alarm {
    background-color: $primaryColor;
    color: $backgroundColor;
  }


  .wrapper-container {
    margin: 0;
    display: flex;
    align-self: center;
    justify-content: center;

   
  }

  .btn-add-alarm {
    background-color: $primaryColor;
    color: $backgroundColor;
  }

  #repeatCheckbox{
    cursor: pointer;
  }

  #set-alarm {
    width: 100%;

    input {
      width: 18vw;
      height: 5vh;
      padding-left: .1rem;
      outline: none;
      border: none;
      background-color: rgba($secondaryColor, .2);
      color:$placeholderColor !important;
      border-radius: .3rem;
      &::placeholder{
        color:$placeholderColor;
        padding-left: .1rem;
      }
    }

    .activeAlarms {
      max-height: 28vh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .alarm {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($secondaryColor, .2);
        border-radius: .5rem;
        margin: .5rem 0;
        padding: 1rem;
      }

      .alarm {
        display: grid;
        grid-template-columns: 8fr 2fr 2fr;
        gap: 1em;
        margin-top: .5em;
        align-items: center;
        padding: 1rem;
      }

      .alarm input[type="checkbox"] {
        appearance: none;
        height: 2em;
        width: 3.75em;
        background-color: #e2e2ec;
        border-radius: 1.25em;
        position: relative;
        cursor: pointer;
        outline: none;
      }

      .alarm input[type="checkbox"]:before {
        position: absolute;
        content: "";
        background-color: #757683;
        height: 1.43em;
        width: 1.43em;
        border-radius: 50%;
        top: 0.25em;
        left: 0.25em;
      }

      .alarm input[type="checkbox"]:checked {
        background-color: #d2e2ff;
      }

      .alarm input[type="checkbox"]:checked:before {
        background-color: #377dff;
        left: 2em;
      }

      .deleteButton {
        background-color: inherit ;
        font-size: 1.5em;
        color: #ff5c5c;
        border: none;
        cursor: pointer;
      }

      span {
        color: inherit;
      }

      button {
        background-color: red;
        color: white;
        border: none;
        margin-left: 1.2rem;
        border-radius: .3rem;
      }

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-left: 1.2rem;
      }
    }
  }
 
}

.repeat-div{
  // border: 1px solid rgb(238, 236, 236);
  background-color: rgba($backgroundColor, 1) ;
  box-shadow: 1px 1px 10px rgb(14, 13, 13);
  color: black;
  position: absolute;
  top: 50%;
  left:50%;
  width: 60vw;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  padding: 1rem;

  transform: translate(-50%, -50%);
  .days{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    label{
      display: flex;
      justify-content: space-between;
    }
  }
  .alarm input[type="checkbox"] {
    appearance: none;
    height: 1.3rem;
    width: 2.5rem;
    background-color: #e2e2ec;
    border-radius: 1.25em;
    position: relative;
    cursor: pointer;
    outline: none;
  }

  .alarm input[type="checkbox"]:before {
    position: absolute;
    content: "";
    background-color: #757683;
    height: 1.03em;
    width: 1.03em;
    border-radius: 50%;
    top: 0.15em;
    left: 0.15em;
  }

  .alarm input[type="checkbox"]:checked {
    background-color: #d2e2ff;
  }

  .alarm input[type="checkbox"]:checked:before {
    background-color: #377dff;
    left: 1.2em;
  }

  
}

@media (max-width: 490px) {
  .timer {
    .time {
      font-size: 2.7rem !important;
    }
  }
}