@font-face {
    font-family: 'digital-clock-font';
    src: url('.././font/digital-7\ \(mono\).ttf');
}



.dark-mode {
    background: rgb(36, 36, 36) !important;
    color: white !important;
}

.clear {

    position: fixed;
    top: 50px;
    right: 20px;


    /* left: 500px; */

}

span {
    margin-left: 10px;
}

.digit {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'digital-clock-font';
}

.list-group{
    max-height: 45vh;
    overflow-y: scroll;
}

.text {
    font-size: 2rem;
    font-weight: bold;
    color: grey;
}

#btn-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    transition: 0.9ms ease-in;
}



.clear{
    position: fixed;
    top: 70px;
    right: 20px;
    color: #f0f0f0;
}
.clear:hover{
    background: #0460da;
    color: #f0f0f0
}


.displayLap{
    max-height: 500px !important;
    overflow-y:auto ;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
ul{
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

.style-btn{
    width: 10vw;
    height: 1vh;
}

.deleteButton {
    background-color: transparent;
    font-size: 1.5em;
    color: #ff5c5c;
    border: none;
    cursor: pointer;
  }

.laps { 
    color: black;
    text-decoration: none;
    list-style-type: none;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 500;
    margin: 10px 0;
}