@font-face {
    font-family: 'digital-clock-font';
    src: url('.././font/digital-7\ \(mono\).ttf');
}



.dark-mode {
    background: black !important;
    color: white !important;
}


.container {
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clear {

    position: fixed;
    top: 50px;
    right: 20px;


    /* left: 500px; */

}

span {
    margin-left: 10px;
}

.digit {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'digital-clock-font';
}

.text {
    font-size: 40px;
    font-weight: bold;
    color: grey;
}

#btn-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    transition: 0.9ms ease-in;
}

.btn {
    background-color: #0090dd;
    padding: 7px 25px;
    transform: scale(1.1);
}

.clear{
    position: fixed;
    top: 70px;
    right: 20px;
    color: #f0f0f0;
}
.clear:hover{
    background: #0460da;
    color: #f0f0f0
}

#laps {
    color: white;
}

.displayLap{
    max-height: 50vh;
    overflow-y:auto ;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
ul{
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

.style-btn{
    width: 10vw;
    height: 1vh;
}

.laps { 

    color: grey;
    /* list-style: none; */
    text-decoration: none;
    list-style-type: none;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: .5rem;
    font-weight: 500;
    margin: 10px 0;
}